In [ ]:
# first notebook in my Linux machine